body {
  background-image: url("images/wood.jpg");
  background-position: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: 'New Rocker', cursive;
  font-size: 60px;
  text-align: center;
  color: black;
  letter-spacing: 25px;
  }

.flex-container {
  height: 75%;
  width: 75%;
  display: flex;
  background-image: url("images/tabletop.jpg");
  background-position: auto;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid;
  margin: auto;
}
.card-placement {
  width: 120px;
  height: 190px;
  border: 3px solid;
  border-color: black;
  display: flex;
  padding: auto;
  margin: 25px auto;
  background-image: url("images/goldcard.png");
  background-size: cover;
  background-position: auto;
  background-repeat: no-repeat;
  background-origin: padding-box;
  border-radius: 12.5px;
}

.flex-board {
  height: 100%;
  width: 1100px;
  padding: auto;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

button {
  margin: 10px;
  background-image: url("images/gold2.jpg");
}

.card-container {
    position: absolute;
    top: 200px;
    left: 200px;
    background-color: white;
}

.card-red {
  width: 120px;
  height: 190px;
  border: 3px solid;
  border-color: black;
  border-radius: 12.5px;
  box-shadow: 2px 2px 1px black;
  background-image: url("images/gold2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  color: darkred;
}

.card-black {
  width: 120px;
  height: 190px;
  border: 3px solid;
  border-color: black;
  border-radius: 12.5px;
  box-shadow: 2px 2px 1px black;
  background-image: url("images/gold2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  color: black;
}

.symbol-center {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 14px;
  top: 40px;
  size: 20px;
}

.symbol {
  font-size: 100px;
  text-align: center;
}

.value-container {

  position: absolute;
  width: 40px;
}

.container-top {
  top: 15px;
  left: 15px;
}

.container-bottom {
  bottom: 15px;
  right: 15px;
  transform: rotate(180deg);
}

.value-suit {
left: 20px;
position: absolute;
font-size: 20px;
}

.num-10{
  left: 35px;
  position: absolute;
  font-size: 20px;
}

.num-face {
  left: 25px;
  position: absolute;
  font-size: 20px;
}

.value-number {
  font-family: 'New Rocker', cursive;
  left: 0px;
  position: absolute;
  font-size: 35px;
}
/* use animation to deal cards through,
prompt for how to play game,
*/
