body {
  background-image: url("images/wood.jpg");
  background-position: auto;
  background-repeat: no-repeat;
  background-size: cover auto;
}

#modal {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  display: none;
}

#openModel{
  font-size: 20px;
}

#close {
  font-size: 20px;
}

#modal-texbox {
  background-color: purple;
  height: 400px;
  width: 550px;
  border-radius: 2px;
  margin: 150px auto;
  box-shadow: 0 2px 2px rgba(0,0,0,0.4);
  padding: 2%;
  line-height: 120%;
  border: 3px solid gold;
  color: white;
}

h1 {
  font-family: 'New Rocker', cursive;
  font-size: 60px;
  text-align: center;
  color: black;
  letter-spacing: 25px;
  }

.flex-container {
  height: 75%;
  width: 75%;
  display: flex;
  background-image: url("images/tabletop.jpg");
  background-position: auto;
  background-repeat: no-repeat;
  background-size: cover auto;
  border: 2px solid;
  margin: auto;
}

.card-placement {
  width: 120px;
  height: 190px;
  border: 3px solid;
  border-color: black;
  display: flex;
  padding: auto;
  margin: 25px auto;
  background-image: url("images/goldcard.png");
  background-size: cover;
  background-position: auto;
  background-repeat: no-repeat;
  background-origin: padding-box;
  border-radius: 12.5px;
  font-size: 25px;
}

.flex-board {
  height: 100%;
  width: 700px;
  padding: auto;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

button {
  font-family: 'New Rocker', cursive;
  font-size: 30px;
  padding: 5px;
  margin: 5px;
  background-image: url("images/gold2.jpg");
}

#bank-box {
  height: 40px;
  width: 90px;
  background-color: gold;
  border: 3px solid purple;
  font-family: 'New Rocker', cursive;
  font-size: 25px;
  color: green;

}

#bid-box {
  background-color: purple;
  font-family: 'New Rocker', cursive;
  font-size: 25px;
  width: 90px;
  color: gold;
  border: 3px solid green;
}


h2 {
  font-size: 50px;
  font-family: 'New Rocker', cursive;
  color: black;
}

#name {
  height: 40px;
  width: 90px;
  
}
/* use animation to deal cards through,
prompt for how to play game,
*/
